<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="activerecord"
                  type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
        <section name="hibernate-configuration"
                 type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    </configSections>
    <activerecord isWeb="true" >

        <config>
            <add
              key="connection.driver_class"
              value="NHibernate.Driver.SqlClientDriver" />
            <add
              key="dialect"
              value="NHibernate.Dialect.MsSql2005Dialect" />
            <add
              key="connection.provider"
              value="NHibernate.Connection.DriverConnectionProvider" />
            <add
              key="connection.connection_string"
              value="database=UDS;server=.;uid=sa;pwd=1q2w3e4r;" />
            <add value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" key="proxyfactory.factory_class" />
            <add key="hibernate.show_sql" value="true" />
        </config>
    </activerecord>
    
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
            <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
            <property name="connection.connection_string">server=.;database=UDS;User Id=sa;pwd=1q2w3e4r;</property>

            <mapping assembly="ActiveRecordLayer" />
        </session-factory>
    </hibernate-configuration>

    <connectionStrings>
        <add name="uds" connectionString="database=UDS;server=.;uid=sa;pwd=1q2w3e4r;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="ConnectionString" value="server=.;database=UDS;User Id=sa;pwd=1q2w3e4r;"/>
        <add key="IndexConnectionString" value="Provider=MSIDXS; Data Source=UDS;"/>

        <add key="FCKeditor:BasePath" value="~/fckeditor/"/>
        <add key="FCKeditor:UserFilesPath" value="~/upload/"/>
    </appSettings>
    <system.web>
        <compilation defaultLanguage="c#" debug="true">
            <assemblies>
            </assemblies>
        </compilation>
        <customErrors defaultRedirect="Error.aspx" mode="Off"/>
        <authentication mode="Forms">
            <forms name="UDSAuth" loginUrl="SubModule/Login/index.aspx" protection="None" timeout="216000" path="/"/>
        </authentication>
        <globalization requestEncoding="gb2312" responseEncoding="gb2312" fileEncoding="gb2312" culture="zh-cn"/>
        <httpRuntime maxRequestLength="102400" useFullyQualifiedRedirectUrl="true" executionTimeout="300"/>
        <xhtmlConformance mode="Legacy"/>
    </system.web>
    <!-- set secure paths -->
    <location path="Inc">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="SubModule">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>

    <location path="ajaxpro">
        <system.web>
            <httpHandlers>
                <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
            </httpHandlers>
        </system.web>
    </location>


</configuration>
